<h1>Edit Wiki</h1>

<div class="row">
  <div class="col-md-8">
    <%= form_for @wiki do |w| %>
      <div class="form-group">
        <%= w.label :title %>
        <%= w.text_field :title, class: 'form-control', placeholder: "Enter Wiki Title" %>
      </div>
      <div class="form-group">
        <%= w.label :body %>
        <%= w.text_area :body, rows: 8, class: 'form-control', placeholder: "What's the Wiki going to say?" %>
      </div>
        <% if current_user.premium? || current_user.admin? %>
          <div class="form-group">
            <%# w.label :private, class: 'checkbox'  %>
            <%= w.check_box :private %> Private wiki
           
          <% end %>
      </div>
      <div class="form-group">
        <%= w.submit "Save", class: 'btn btn-success' %>
      </div>
    <% end %>
      <%= form_tag [@wiki, Collaborator.create] do %>
        <%= text_field_tag :email %>
        <%= submit_tag %>
      <% end %>
      <h4>Collaborators</h4>
        <% @wiki.collaborators.each do |c| %>
        <ul>
          <%= c.user.email %> <%= link_to "Delete", wiki_collaborator_path(@wiki, c), method: :delete %>
        </ul>
        <% end %>
  </div>
</div>
